.update-home-form {
  max-width: 400px;
  /* Adjust the form width as needed */
  margin: 0;
  /* Remove margin to align the form to the left */
  padding: 20px;
  /* Add some padding to the form */
}

.form-group {
  margin-bottom: 15px;
  /* Add spacing between form fields */
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem; /* Add space between form and buttons */
}

/* .button-container button {
  margin-right: 10px;
} */

.btn-red {
  background-color: red !important;
  color: white !important;
  &:hover {
    background-color: darkred !important;
  }
}
